
<h1> Favorite Beer Spots </h1>
<% favorites.forEach(function(favorite){ %>
	<div class="well" id="<%= favorite.id %>">
		<p><%= favorite.name %></p>
		<p><%= favorite.address %></p>
		<p><%= favorite.phoneNumber %></p>

		<button class="btn btn-warning delete" type="button">Delete</button></a>
	</div>
<% }); %>