<h1> HOPPY HOUR MAP</h1>
<% if (loginstatus) { %>
<p> <%= loginstatus %> </p>
<% } %>
<div id="map"></div>
	<button type="submit" name="Add to Favorites">Add to Favorites </button>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgDGbLLscb4wg28QBuyEP-MytnJ9e69EQ&libraries=places"></script>

<!-- process.env.GOOGLE_PLACES_KEY -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script> -->

<!-- brewdb.beer.getById("avMkil", {}, callback);   --> 
