<h1> Find Beer Near You</h1>
<% if (loginstatus) { %>
<p> <%= loginstatus %> </p>
<% } %>
<div id="map"></div>
<form method="POST" action="/map">
<!-- <input type="submit" value="Add to Favorites"> -->
<!-- <input type="text" placeholder="breweryname" name="breweryname"> -->
</form>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgDGbLLscb4wg28QBuyEP-MytnJ9e69EQ&libraries=places"></script>




