<h1> Find Beer Near You</h1>

<div id="map" class="col-sm-6 col-sm-offset-3"></div>
<form method="POST" action="/map">
<!-- <input type="submit" value="Add to Favorites"> -->
<!-- <input type="text" placeholder="breweryname" name="breweryname"> -->
</form>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmMyJyS3j53mXs9EFiPtCo8B4mOCFwEGA&libraries=places"></script>




