<h1> Find Beer Near You</h1>

<div id="map" class="col-sm-6 col-sm-offset-3"></div>
<form method="POST" action="/map">
<!-- <input type="submit" value="Add to Favorites"> -->
<!-- <input type="text" placeholder="breweryname" name="breweryname"> -->
</form>
<% var test = "https://maps.googleapis.com/maps/api/js?key="+process.env.GOOGLE_PLACES_KEY+"&libraries=places" %> 
<script type="text/javascript" src=<%= test %>></script>




