<h1>Sign Up For A New Account</h1>
<form method="POST" action="/account/signup">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
