body {
  background-image: url("../beer.jpeg");
  height: 100%;
  color:black;
}

.home{
	text-align:center;
}
.container {
	background-color: #ffffff;
  opacity: .8;
  min-height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  width: 900px;
}

#map {
  width: 500px;
  height: 500px;
 
/*  background-color: #CCC;*/
}

#favoriteList{
  border:black 1px;
}