body {
  background-image: url("/cheers.jpeg");
  height: 100%;
}

.home{
	text-align:center;
}
.container {
	background-color: #ffffff;
  opacity: .5;
  min-height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}